.alt-header {
  padding: 0px var(--horizontal-space);
  padding-top: 50px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}
